In [4]:
import numpy as np
from itertools import repeat
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [5]:
data = pd.read_csv('./SalesTransaction.csv')

In [6]:
data.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [18]:
data.loc[data['ProductNo'] == '22485'].to_csv("./Price.csv")
#data.loc[data['ProductNo'] == '22485']['Price'].unique()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
10384,580894,12/6/2019,22485,Set Of 2 Wooden Market Crates,6.19,12,13408.0,United Kingdom
23883,580097,12/1/2019,22485,Set Of 2 Wooden Market Crates,7.24,2,14216.0,United Kingdom
26557,579676,11/30/2019,22485,Set Of 2 Wooden Market Crates,6.19,2,17502.0,United Kingdom
26653,579690,11/30/2019,22485,Set Of 2 Wooden Market Crates,7.24,1,15060.0,United Kingdom
...,...,...,...,...,...,...,...,...
495516,539739,12/21/2018,22485,Set Of 2 Wooden Market Crates,36.38,1,15739.0,United Kingdom
502252,539418,12/17/2018,22485,Set Of 2 Wooden Market Crates,23.32,2,17007.0,United Kingdom
519377,537843,12/8/2018,22485,Set Of 2 Wooden Market Crates,23.32,2,15713.0,United Kingdom
526140,537265,12/6/2018,22485,Set Of 2 Wooden Market Crates,23.32,2,15919.0,United Kingdom
536215,536514,12/1/2018,22485,Set Of 2 Wooden Market Crates,23.32,4,17951.0,United Kingdom